@import 'bootstrap';
@import "glyphicons";
@import "posts";

body {
  background-color: #fafafa;
  font-family: proxima-nova, 'Helvetica Neue', Arial, Helvetica, sans-serif;
}

/* ## NAVBAR CUSTOMISATIONS ## */

.navbar-brand {
  a {
    color: #125688;
  }
}

.navbar-default {
  background-color: #fff;
  height: 54px;
  .navbar-nav li a {
    color: #125688;
  }
}

.navbar-container {
  width: 70%;
  margin: 0 auto;
}

/* ## POST CUSTOMISATIONS ## */

.posts-wrapper {
  padding-top: 40px;
  margin: 0 auto;
  max-width: 642px;
  width: 100%;
}

/* ## Wrapper and styling for the new and edit views ## */

.form-wrapper {
  width: 60%;
  margin: 20px auto;
  background-color: #fff;
  padding: 40px;
  border: 1px solid #eeefef;
  border-radius: 3px;
}

.edit-links {
  margin-top: 20px;
  margin-bottom: 40px;
}

html {
  height: 100%;
}

.registration-bg {
  padding-top: 4em;
}

.log-in{
  margin-left: auto;
  margin-right: auto;
  text-align:center;
  border: none;
}

.panel {
  border-radius: 8px;
}

.panel-heading{
  h1 {
    text-align: center;
  }
}

.navbar {
  margin-bottom: 0px;
}

#creation-h2 {
  color: #fff;

}

#sign-up-h2 {
  color: #0066cc;

}

.input-lg{
  color: #fff;
}

#sign-up-username.input-lg{
  color: #0066cc;
}

#sign-up-password.input-lg{
  color: #0066cc;
}


.login-background {
  background-image: image-url('login-background.jpg');
  height: 100vh;
  width: 100vw;
  top: 0;
  position: fixed;
  -moz-background-size: cover;
  -webkit-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  z-index: -100;
}

.sign-up-background {
  background-image: image-url('sign_up_back.jpg');
  height: 100vh;
  width: 100vw;
  top: 0;
  position: fixed;
  -moz-background-size: cover;
  -webkit-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  z-index: -100;
}

li.nav-item{
  margin-top: 0px;
  margin-bottom: 0px;
  margin-right: 15px;
  margin-left: 15px;
}
