.post-list {
  display: flex;
  flex-wrap: wrap;
  min-width: 450px;
  max-width: 1000px;
  margin: 50px auto;
}

.post-item {
  width: 30%;
  margin: 15px;
}

.post-image {
  width: 100%;
}

.comment-item {
  padding: 10px;

  .comment-text {
    margin: 0;
  }
}
